---
import ReferenciasDiv from "@/components/ReferenciasDiv.astro";

import MainLayout from "@/layouts/MainLayout.astro";
---
<MainLayout>	
<h1>Generalidades</h1>
<ReferenciasDiv>
  <div slot="tool">
    La idea es que el sitio web se encuentre en tres idiomas: español, inglés e italiano, Por definir idioma principal
  </div>
</ReferenciasDiv>
</MainLayout>