---
import ReferenciasDiv from "@/components/ReferenciasDiv.astro";

import MainLayout from "@/layouts/MainLayout.astro";
---
<MainLayout>	
<h1>Generalidades</h1>
<ReferenciasDiv>
  <div slot="tool">
    <p>
      Un lugar en donde ud pueda navegar y seguir el avance de su idea comercial, poder ofrecer respuestas, forjar identidad profesional a tres años. 
    </p>

    <p>Interesar al público en un producto.  Identificar el cliente al que se le quiere llegar. PLAZA PRODUCTO.</p>
    
    <p>Producto Alexis Chef.</p>


  </div>
</ReferenciasDiv>
</MainLayout>