---
import ReferenciasDiv from "@/components/ReferenciasDiv.astro";

import MainLayout from "@/layouts/MainLayout.astro";
---
<MainLayout>	
<h1>Generalidades</h1>
<ReferenciasDiv>
  <div slot="tool">
    Alexis tiene presencia en las siguientes redes: Instagram, FaceBook,  Twitter, YouTube y Blogger.

    <p>Por definir cuáles siguen y cómo se enlazan los flujos. Qué quiero que ocurra con las visitas a las redes para que lleguen al sitio web</p>

  </div>
</ReferenciasDiv>
</MainLayout>