---

import ReferenciasDiv from "@/components/ReferenciasDiv.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import ReferenciasCont from "@/components/contexto/ReferenciasCont.astro"


---

<MainLayout>	
<h1>Generalidades</h1>
<ReferenciasDiv>
<ReferenciasCont slot="tool"/>  
</ReferenciasDiv>
</MainLayout>