---
import ReferenciasDiv from "@/components/ReferenciasDiv.astro";

import MainLayout from "@/layouts/MainLayout.astro";
---
<MainLayout>	
<h1>Generalidades</h1>
<ReferenciasDiv>
  <div slot="tool">
    Alexis envía enlaces a los perfiles de las redes sociales y empieza a organizar la información gráfica de la que disponga.
  </div>
</ReferenciasDiv>
</MainLayout>