---
import MainLayout from "@/layouts/MainLayout.astro";


---

		<MainLayout>	
		<h1>Quién soy</h1>
		<span>Mi plato, mi lienzo</span>
		<p>
			Página principal. El producto debe verse, hay que buscar mecanismos para que sea una página dinámica, que cambie en el tiempo.
		</p>
	</MainLayout>