
  <div class="w-1/4 border-2 border-blue-100 h-64 flex flex-col">
    <a href="/contexto">contexto</a>
    <a href="/contexto/referencias">referencias</a>
    <a href="/contexto/idiomas">idiomas</a>
    <a href="/contexto/redes">redes sociales</a>
    <a href="/contexto/tareas">tareas</a>
  </div>